body{
    font-family: 'Courier New', Courier, monospace;
}
.caja{
    border: 1px solid gray;
}
.titulo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.perfil{
    display: flex;
    align-items: center;
}
.perfil img{
    height: 50px;
    border-radius: 50px;
    margin-right: 10px;
}
.perfil p{
    font-weight: bold;
}
.contenido img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.final{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.opciones img{
    margin-right:8px ;
}